body {
    background: #FFAA00;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.main-article {
    text-align: justify;
    margin-bottom: 20px;
    /* position: relative; */
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}
